.container {
    height: 300px;
    margin:30px auto;

}

.container ul {}

.container ul li {
    border:1px solid #fff;
}

.container ul li img {}

.left, .right {
    cursor: pointer;
}

body {
    background-color: #efefef;
}